extends layout
block content
    .content
      .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
        .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-25.mg-xl-b-30
          div
            nav(aria-label='breadcrumb')
              ol.breadcrumb.breadcrumb-style1.mg-b-10
                li.breadcrumb-item
                  a(href='#') Dashboard
                li.breadcrumb-item.active(aria-current='page') Inicio
            h4.mg-b-0.tx-spacing--1 Bienvenidos a Residencia Las Aves
        .row.row-xs
          .col-sm-6.col-lg-4
            .card.card-body
              h6.tx-uppercase.tx-11.tx-spacing-1.tx-color-02.tx-semibold.mg-b-8 Visitantes
              .d-flex.d-lg-block.d-xl-flex.align-items-end
                h3.tx-normal.tx-rubik.mg-b-0.mg-r-5.lh-1 3
                p.tx-11.tx-color-03.mg-b-0
                  span.tx-medium.tx-success
                    | 3
                    i.icon.ion-md-arrow-up
                  |  mas que la semana pasada
              .chart-three
                #flotChart3.flot-chart.ht-30
              // chart-three
          // col
          .col-sm-6.col-lg-4.mg-t-10.mg-sm-t-0
            .card.card-body
              h6.tx-uppercase.tx-11.tx-spacing-1.tx-color-02.tx-semibold.mg-b-8 Paquetes
              .d-flex.d-lg-block.d-xl-flex.align-items-end
                h3.tx-normal.tx-rubik.mg-b-0.mg-r-5.lh-1 5
                p.tx-11.tx-color-03.mg-b-0
                  span.tx-medium.tx-danger
                    | 10
                    i.icon.ion-md-arrow-down
                  |  menos que la semana pasada
              .chart-three
                #flotChart4.flot-chart.ht-30
              // chart-three
          // col
          .col-sm-6.col-lg-4.mg-t-10.mg-lg-t-0
            .card.card-body
              h6.tx-uppercase.tx-11.tx-spacing-1.tx-color-02.tx-semibold.mg-b-8 Eventos
              .d-flex.d-lg-block.d-xl-flex.align-items-end
                h3.tx-normal.tx-rubik.mg-b-0.mg-r-5.lh-1 1
                p.tx-11.tx-color-03.mg-b-0
                  span.tx-medium.tx-danger
                    | 2
                    i.icon.ion-md-arrow-down
                  |  menos que la semana pasada
              .chart-three
                #flotChart5.flot-chart.ht-30
              // chart-three
          // col
  
