extends ../../layout
block content
    .content
      .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
        .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-25.mg-xl-b-30
          div
            nav(aria-label='breadcrumb')
              ol.breadcrumb.breadcrumb-style1.mg-b-10
                li.breadcrumb-item
                  a(href='#') Dashboard
                li.breadcrumb-item.active(aria-current='page') Administración 
            h4.mg-b-0.tx-spacing--1 Jugadores
          .d-none.d-md-block
            a.btn.btn-sm.pd-x-15.btn-primary.btn-uppercase.text-white(href="/")
              i.wd-10.mg-r-5(data-feather='mail')
              |  Jugadores
        div.d-flex.align-items-center.justify-content-center.pd-y-40
         fieldset.form-fieldset.wd-800
           legend Editar Jugador
           form#edit_player.message(data-parsley-validate)
            .form-row 
              .form-group.col-md-6
                label.d-block Nombre
                input.form-control#first_name(type='text' name='first_name') 
              .form-group.col-md-6
                label.d-block Apellido
                input.form-control#last_name(type='text' name='last_name')
              .form-group.col-md-6
                label.d-block Pies de altura
                input.form-control#height_feet(type='text' name='height_feet') 
              .form-group.col-md-6
                label.d-block Pulgadas de altura 
                input.form-control#height_inches(type='text' name='height_inches')
              .form-group.col-md-6
                label.d-block Posición
                input.form-control#position(type='text' name='position')
              .form-group.col-md-6
                label.d-block Equipo
                input.form-control#team(type='text' name='team')
              .form-group.col-md-6
                label.d-block Libras de peso
                input.form-control#weight_pounds(type='text' name='weight_pounds')
              .form-group.col-md-12
              if player
                button.btn.btn-sm.btn-primary.mg-t-10(type='submit') Actualizar
              else
                button.btn.btn-sm.btn-primary.mg-t-10(type='submit') Agregar
              end
              if player
                script.
                  let player  = {  
                                   first_name     : '#{player.first_name}',
                                   height_feet    : '#{player.height_feet}',
                                   height_inches  : '#{player.height_inches}', 
                                   last_name      : '#{player.last_name}',
                                   position       : '#{player.position}', 
                                   team           : '#{player.team}',
                                   weight_pounds  : '#{player.weight_pounds}', 
                                   id             : '#{player.id}'
                                }
 