extends ../../layout
block content
    .content
      .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
        .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-25.mg-xl-b-30
          div
            nav(aria-label='breadcrumb') 
              ol.breadcrumb.breadcrumb-style1.mg-b-10
                li.breadcrumb-item
                  a(href='#') Dashboard
                li.breadcrumb-item.active(aria-current='page') Administración
            h4.mg-b-0.tx-spacing--1 Jugadores 
        div.d-flex.align-items-center.justify-content-center.pd-y-40 
           table.table#players
            thead
              tr
                th(scope='col') Nombre
                th(scope='col') Apellido
                th(scope='col') Pies de altura
                th(scope='col') Pulgadas de altura 
                th(scope='col') Posición 
                th(scope='col') Equipo
                th(scope='col') Libras de peso
      script.
        let players  = '#{data}'